body {
    font-family: Arial, sans-serif;
    color: #000;
    text-align: center;
    margin: 20px;
    background: linear-gradient(90deg,#ADA996, #EAEAEA, #ADA996);
    
}

h2, h3 {
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
}

th, td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}

th {
    background-color: #d4a573;
}

.input-form {
    margin: 20px auto;
}

.input-form input {
    padding: 8px;
    margin: 5px;
    width: 300px;
    display: block;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: #d4a573;
    color: BLACK;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0, 0.5);    
    border-radius: 30px;
    transition: .3s;
}

button:hover {
    background-color: #ACB6E5;
}

canvas {
    background-color: #fff;
    width: 700px;
    height: 400px;
    margin: 20px auto;
}
